<!DOCTYPE html>
<html>
<head>

<title>Minhas Contas</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Refresh" content="240;URL=contas.html" />

<link rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../resources/css/angularStyle.css" />

</head>
<body ng-app="app" ng-controller="contasController">

	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/angular-locale_pt-br.js"></script>
	<script type="text/javascript" src="../js/rw-money-mask.js"></script>

	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../controllers/contasController.js"></script>
	<script type="text/javascript" src="../services/contasService.js"></script>

	<script type="text/javascript" src="../../resources/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../resources/js/bootstrap.min.js"></script>

	<div ng-class="msgClass" style="position: fixed; z-index: 10000; opacity: 0.9; left: 40%; top: 5px;" ng-hide="msg == ''" ng-click="msg = ''">
		<strong>{{msgTitulo}}</strong> {{msg}}
	</div>
	<div style="position: fixed; z-index: 10000; left: 80%; top: 5px;" ng-hide="isObjectEmpty(msgs)">
		<ul>
			<li ng-repeat="m in msgs">{{m}}</li>
		</ul>
	</div>
	<!-- 	<div class="modal-backdrop fade in" style="z-index: 9999;" ng-hide="msg == ''" ng-click="msg = ''"></div> -->


	<div class="container-fluid centered" style="margin-top: 5px;">
		<div class="row">
			<div class="col-sm-6">
				<table>
					<tr>
						<td><input id="usuario" type="text" class="form-control input-sm" name="usuario" placeholder="Usuário" ng-model="userform.usuario"></td>
						<td><input id="senha" type="password" class="form-control input-sm" name="password" placeholder="Senha" ng-model="userform.senha"></td>
						<td><button id="submit" type="submit" class="btn btn-default btn-sm" ng-click="validaLogin()" title="Entrar no Sistema">
								<span class="glyphicon glyphicon-log-in"> </span> Entrar
							</button></td>
						<td><button id="sair" type="submit" class="btn btn-default btn-sm" ng-click="logout()" title="Sair do Sistema">
								<span class="glyphicon glyphicon-log-out"> </span> Sair
							</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div ng-hide="indrUsuarioLogado == false || !isObjectEmpty(msgs)">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<table>
									<tr>
										<td style="padding: 5px; font-size: 18px; cursor: pointer;" ng-click="mesAnterior()"><span class="glyphicon glyphicon-backward"></span></td>
										<td style="padding: 5px;"><select style="font-size: 18px;" id="mes" ng-model="mes" ng-change="listarContas(); cancelarEdicao();">
												<option label="Janeiro" ng-value="1"></option>
												<option label="Fevereiro" ng-value="2"></option>
												<option label="Março" ng-value="3"></option>
												<option label="Abril" ng-value="4"></option>
												<option label="Maio" ng-value="5"></option>
												<option label="Junho" ng-value="6"></option>
												<option label="Julho" ng-value="7"></option>
												<option label="Agosto" ng-value="8"></option>
												<option label="Setembro" ng-value="9"></option>
												<option label="Outubro" ng-value="10"></option>
												<option label="Novembro" ng-value="11"></option>
												<option label="Dezembro" ng-value="12"></option>
										</select></td>
										<td style="padding: 5px;"><select style="font-size: 18px;" id="ano" ng-options="ano for ano in listaAnos" ng-model="ano" ng-change="listarContas(); cancelarEdicao();"></select></td>
										<td style="padding: 5px; font-size: 18px; cursor: pointer;" ng-click="mesSeguinte()"><span class="glyphicon glyphicon-forward"></span></td>
										<td style="padding: 5px;"><button id="novaConta" ng-click="novaConta();" type="submit" class="btn btn-default btn-sm">
												<span class="glyphicon glyphicon-plus"> </span>
											</button></td>
									</tr>
								</table>
							</div>

						</div>
						<div class="row">
							<div class="col-sm-6">
								<table id="tabelaContas" class="table table-hover table-striped table-bordered table-condensed">
									<thead>
										<tr>
											<th width="60"></th>
											<th width="1"></th>
											<th width="1"></th>
											<th width="1"></th>
											<th ng-click="orderbyContas = ['tipo', 'descricao']; reverseDescricao = !reverseDescricao; reverse = reverseDescricao">Descrição <span class="sortorder" ng-class="{reverse: reverseDescricao}"></span></th>
											<th style="text-align: right" ng-click="orderbyContas = ['tipo', 'valor']; reverseValor = !reverseValor; reverse = reverseValor">Valor <span class="sortorder" ng-class="{reverse: reverseValor}"></span></th>
											<th style="text-align: right" ng-click="orderbyContas = ['tipo', 'valorParciais']; reverseParciais = !reverseParciais; reverse = reverseParciais">Parciais <span class="sortorder" ng-class="{reverse: reverseParciais}"></span></th>
											<th style="text-align: center" ng-click="orderbyContas = ['tipo', 'dia_vencimento']; reverseVenc = !reverseVenc; reverse = reverseVenc">Vcto <span class="sortorder" ng-class="{reverse: reverseVenc}"></span></th>
											<th>Parcela</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="c in contas | orderBy:orderbyContas:reverse">
											<td><a ng-click="excluir(c)" href="#"><img src="../../resources/img/lixo.png"></a> <a ng-click="baixar(c)" ng-if="c.status=='A'" href="#" title="Baixar Conta"><img src="../../resources/img/aberto.png"></a> <a ng-click="cancelarBaixa(c)" ng-if="c.status=='B'" href="#"
												title="Cancelar Baixa"
											><img src="../../resources/img/baixado.png"></a></td>
											<td ng-style="cssVencimento(c)"></td>
											<td ng-style="{'background-color': c.tipo== 'D'? 'red':'green'}"></td>
											<td ng-style="{'background-color': c.flag_comum== 'S'? 'yellow': 'inherit'}"></td>
											<td ng-style="cssLinhaTabela(c)" ng-click="editarConta(c)">{{ c.descricao }}</td>
											<td ng-style="cssLinhaTabela(c)" style="text-align: right" ng-click="editarConta(c)">{{ c.valor | currency:"":2 }}</td>
											<td ng-style="cssLinhaTabela(c)" style="text-align: right" ng-click="editarConta(c)">{{ c.valorParciais | currency:"":2 }}</td>
											<td ng-style="cssLinhaTabela(c)" style="text-align: center" ng-click="editarConta(c)">{{ c.dia_vencimento }}</td>
											<td ng-style="cssLinhaTabela(c)" ng-click="editarConta(c)">{{ c.numr_parcela }} - {{ c.qtde_parcelas }}</td>
										</tr>
									</tbody>

								</table>

							</div>
							<div class="col-sm-12">
								<div class="container-fluid">
									<table>
										<thead>
											<tr>
												<td></td>
												<td align="right">Despesas</td>
												<td align="right">Receitas</td>
												<td align="right">Total</td>
												<td align="right">Total+Saldo</td>
											</tr>
										</thead>

										<tr>
											<td align="right"><label>Total Mês:</label></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px"><span style="color: red" id="despesaMes">{{totalDespesaMes | currency:'':2}}</span></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: green" id="ReceitaMes">{{totalReceitaMes | currency:'':2}}</span></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: blue" id="totalMes">{{totalReceitaMes - totalDespesaMes | currency:'':2}}</span></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: black" id="totalMesSaldo">-</span></td>

										</tr>

										<tr>
											<td align="right"><label>A Pagar/Receber:</label></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px"><span style="color: red" id="despesaPrevistoMes">{{totalDespesaPrevistoMes | currency:'':2}}</span></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: green" id="ReceitaPrevistoMes">{{totalReceitaPrevistoMes | currency:'':2}}</span></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: blue" id="totalPrevistoMes">{{(totalReceitaPrevistoMes - totalDespesaPrevistoMes) | currency:'':2}}</span></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: black" id="totalPrevistoAcumulado">{{usuarioLogado.saldo + (totalReceitaPrevistoMes - totalDespesaPrevistoMes) | currency:'':2}}</span></td>
										</tr>

										<tr>
											<td align="right"><label>A Pagar/Receber Acumulado:</label></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: red" id="despesaPrevistoAcumulado">{{totalDespesaPrevistoAcumulado | currency:'':2}}</span></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: green" id="receitaPrevistoAcumulado">{{totalReceitaPrevistoAcumulado | currency:'':2}}</span></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: blue" id="totalAcumulado">{{(totalReceitaPrevistoAcumulado - totalDespesaPrevistoAcumulado) | currency:'':2}}</span></td>
											<td align="right" style="border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 0px 5px 0px 15px;"><span style="color: black" id="totalAcumuladoSaldo">{{usuarioLogado.saldo + (totalReceitaPrevistoAcumulado - totalDespesaPrevistoAcumulado) | currency:'':2}}</span></td>
										</tr>
										<tr ng-hide="indrUsuarioLogado == false || !isObjectEmpty(msgs)">
											<td align="right"><label for="valorSaldo">Saldo Atual:</label></td>
											<td colspan="3" style="padding-left: 5px"><div class="input-group">
													<input type="number" step="0.01" id="valorSaldo" ng-model="usuarioLogado.saldo" class="form-control input-sm" />
													<div class="input-group-btn">
														<button id="alterarSaldo" type="submit" class="btn btn-default btn-sm" ng-click="alterarSaldo()">
															<i class="glyphicon glyphicon-save"> </i>
														</button>
													</div>
												</div></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<div ng-hide="indrUsuarioLogado == false || !isObjectEmpty(msgs)">
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog" tabindex="-1">
			<div class="modal-dialog" role="document" ng-style="tamanhoModal()" style="left: 50%; transform: translateX(-50%); position: absolute;">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Editar Conta</h4>
					</div>
					<div class="modal-body">
						<div id="editarConta">
							<div class="row">
								<div class="col-md-5">
									<div class="panel panel-default">
										<div class="panel-heading" ng-style="cssTitulo()">Conta</div>
										<div class="panel-body">
											<div class="container-fluid">
												<div class="row">
													<div class="col-xs-12" style="background-color: lightblue;">
														<label style="color: red;" for="despesa"><input id="despesa" type="radio" ng-model="conta.tipo" value="D"> Despesa</label> <label style="color: green;" for="receita"><input id="receita" type="radio" ng-model="conta.tipo" value="R"> Receita</label> <label
															style="color: black; color: yellow" for="flagComun"
														><input title="Conta Comun a todos os meses" type="checkbox" id="flagComun" ng-model="conta.flag_comum" size="30" ng-true-value="'S'" ng-false-value="'N'"> Comun</label>
													</div>
												</div>
												<div class="row" style="min-height: 10px !important">
													<div class="col-xs-12"></div>
												</div>
												<div class="row">
													<div class="col-xs-4">
														<label for="valor">Valor</label>
													</div>
													<div class="col-xs-8">
														<input type="number" step="0.01" id="valor" ng-model="conta.valor" size="10" class="form-control">
													</div>
												</div>
												<div class="row">
													<div class="col-xs-4">
														<label for="descricao">Descrição</label>
													</div>
													<div class="col-xs-8">
														<input type="text" id="descricao" ng-model="conta.descricao" size="30" class="form-control">
													</div>
												</div>
												<div class="row">
													<div class="col-xs-4">
														<label for="Data">Data</label>
													</div>
													<div class="col-xs-8">
														<input type="date" id="data" name="data" ng-model="conta.data_mes" class="form-control" />
													</div>
												</div>
												<div class="row">
													<div class="col-xs-4" title="Vencimento">
														<label for="vencimento">Vcto</label>
													</div>
													<div class="col-xs-8">
														<input type="number" min="1" max="31" id="vencimento" ng-model="conta.dia_vencimento" class="form-control">
													</div>
												</div>
												<div class="row">
													<div class="col-xs-4">
														<label for="qtdeParcelas">Parcelas</label>
													</div>
													<div class="col-xs-8">
														<input type="number" id="qtdeParcelas" ng-model="conta.qtde_parcelas" class="form-control">
													</div>
												</div>
												<div class="row">
													<div class="col-xs-4">
														<label for="tipoRepeticao">Repetição</label>
													</div>
													<div class="col-xs-8">
														<select id="tipoRepeticao" ng-model="conta.tipoRepeticao" class="form-control">
															<option label="Diária" value="DI"></option>
															<option label="Semanal" value="SM"></option>
															<option label="Mensal" value="ME"></option>
															<option label="Trimestral" value="TR"></option>
															<option label="Semestral" value="ST"></option>
															<option label="Anual" value="AN"></option>
														</select>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-4">
														<label for="parcela">Parcela</label>
													</div>
													<div class="col-xs-8">
														<input disabled="disabled" type="text" id="parcela" ng-value="conta.numr_parcela + ' - ' + conta.qtde_parcelas" class="form-control">
													</div>
												</div>
												<div class="row" style="min-height: 10px !important">
													<div class="col-md-12"></div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<button id="salvar" ng-click="salvar();" type="submit" class="btn btn-default" style="background-color: lightgreen;">
															<span class="glyphicon glyphicon-save"> </span> Salvar
														</button>
														<button id="salvarTodos" ng-hide="conta.qtde_parcelas == 1 || conta.id == null" ng-click="salvarTodos();" type="submit" class="btn btn-default" title="Salva todas as parcelas relacionadas não baixadas iguais a essa!" style="background-color: lightgreen;">
															<span class="glyphicon glyphicon-save"> </span> Salvar Parcelas
														</button>
														<button id="excluirTodos" ng-hide="conta.qtde_parcelas == 1 || conta.id == null" ng-click="excluirTodos();" type="submit" class="btn btn-default" title="Exclui tdas as parcelas relacionadas não baixadas!" style="background-color: tomato;">
															<span class="glyphicon glyphicon-trash"> </span> Excluir Parcelas
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-7" ng-hide="conta.id == null">
									<div class="panel panel-default">
										<div class="panel-heading" ng-style="cssTitulo()">Parciais</div>
										<div class="panel-body">
											<div class="container-fluid">
												<div class="row">
													<div class="col-xs-2">
														<label for="valorFilha">Valor</label><input type="number" step="0.01" id="valorFilha" ng-model="contaFilha.valor" size="10" class="form-control">
													</div>
													<div class="col-xs-5">
														<label for="descricaoFilha">Descrição</label><input type="text" id="descricaoFilha" ng-model="contaFilha.descricao" size="30" class="form-control">
													</div>
													<div class="col-xs-4">
														<label for="dataFilha">Data</label><input type="date" id="dataFilha" name="data" ng-model="contaFilha.data_mes" class="form-control" />
													</div>
													<div class="col-xs-1" style="margin-top: 25px;">
														<button id="salvarFilha" ng-click="salvarFilha();" type="submit" class="btn btn-default form-control">
															<span class="glyphicon glyphicon-save"></span>
														</button>
													</div>
												</div>
												<div class="row" style="min-height: 10px !important">
													<div class="col-md-12"></div>
												</div>
												<div class="row" ng-hide="contasFilhas.length <= 0">
													<div class="col-sm-12">
														<div class="table-responsive">
															<table id="tabelaParciais" class="table table-hover table-striped table-bordered table-condensed">
																<thead>
																	<tr>
																		<th width="50"></th>
																		<th ng-click="orderbyParciais = 'descricao'; reverseDescricao = !reverseDescricao; reverseP = reverseDescricao">Descrição <span class="sortorder" ng-class="{reverse: reverseDescricao}"></span></th>
																		<th ng-click="orderbyParciais = 'valor'; reverseValor = !reverseValor; reverseP = reverseValor">Valor <span class="sortorder" ng-class="{reverse: reverseValor}"></span></th>
																		<th ng-click="orderbyParciais = 'data_registro'; reverseData = !reverseData; reverseP = reverseData">Data Registro <span class="sortorder" ng-class="{reverse: reverseData}"></span></th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="c in contasFilhas | orderBy:orderbyParciais:reverseP">
																		<td><a ng-click="excluir(c)" href="#"> <span class="glyphicon glyphicon-trash"></span></a> <a ng-click="baixar(c)" ng-if="c.status=='A'" href="#" title="Baixar Conta"><span class="glyphicon glyphicon-folder-open"></span></a> <a ng-click="cancelarBaixa(c)" ng-if="c.status=='B'"
																			href="#" title="Cancelar Baixa"
																		><span class="glyphicon glyphicon-folder-close"></span></a></td>
																		<td ng-style="cssLinhaTabela(c)">{{ c.descricao }}</td>
																		<td ng-style="cssLinhaTabela(c)">{{ c.valor | currency:"":2 }}</td>
																		<td ng-style="cssLinhaTabela(c)">{{ c.data_mes | date:'dd/MM/yyyy HH:mm:ss' }}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
