<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
	<meta http-equiv="Refresh"
		content="240;URL=#{facesContext.externalContext.requestContextPath}/contas/contas-angularjs.html" />
<title>Minhas Contas</title>
<script type="text/javascript" src="./resources/js/angular.min.js"></script>
<script type="text/javascript" src="./resources/js/angular-locale_pt-br.js"></script>
<script type="text/javascript" src="./resources/js/rw-money-mask.js"></script>

<script type="text/javascript">
	var app = angular.module('myapp', [ 'rw.moneymask' ]);

	app.controller('myappcontroller', function($scope, $http) {

		$scope.mostraEdicao = false
		$scope.listaAnos = []
		$scope.ano = 0
		$scope.mes = 0
		$scope.usuarioLogado = false
		$scope.tiposConta = []
		$scope.conta = {
			id : null,
			data_registro : null,
			descricao : "",
			valor : 0,
			dia_vencimento : null,
			numr_agrupador : 0,
			qtde_parcelas : 1,
			numr_parcela : 0,
			usuario : null,
			contaPai : null,
			valorParciais : 0,
			tipo : "D",
			data_mes : new Date(),
			flag_comum : "N"
		}
		$scope.contaFilha = JSON.parse(JSON.stringify($scope.conta))
		$scope.contaFilha.data_registro = new Date();
		$scope.msg = ""
		$scope.contas = []
		$scope.contasFilhas = []
		$scope.userform = {
			usuario : "",
			senha : ""
		};

		login();

		$scope.salvar = function() {
			$http({
				method : 'POST',
				url : 'rest/contas/salvar/',
				data : angular.toJson($scope.conta),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				$scope.listarContas();
				$scope.novaConta();
			}, function errorCallback(response) {
				$scope.msg = response.data.mensagem;
			});
		}
		
		$scope.salvarFilha = function() {
			
			$scope.contaFilha.data_registro = new Date();
			$scope.contaFilha.data_mes = $scope.conta.data_mes;
			$scope.contaFilha.flag_comum = $scope.conta.flag_comum;
			$scope.contaFilha.tipo = $scope.conta.tipo;
			$scope.contaFilha.status = "A";
			$scope.contaFilha.usuario = $scope.conta.usuario;
			$scope.contaFilha.contaPai = $scope.conta;
			
			$http({
				method : 'POST',
				url : 'rest/contas/salvar/',
				data : angular.toJson($scope.contaFilha),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				$scope.listarContasFilhas($scope.conta.id);
				$scope.novaContaFilha();
			}, function errorCallback(response) {
				$scope.msg = response.data.mensagem;
			});
		}
		
		$scope.salvarTodos = function() {
			if (confirm('Salvar todas as parcelas relacionadas e não pagas iguais a essa?') == false) {
					return;
				}
			$http({
				method : 'POST',
				url : 'rest/contas/salvarTodos/',
				data : angular.toJson($scope.conta),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				$scope.listarContas();
				$scope.novaConta();
			}, function errorCallback(response) {
				$scope.msg = response.data.mensagem;
			});
		}
		
		$scope.baixar = function(c) {
			$http({
				method : 'POST',
				url : 'rest/contas/baixar/',
				data : angular.toJson(c),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				$scope.listarContas();
				if (c.contaPai == null) {
					$scope.limparEdicao();	
				}else {
					$scope.editarConta(c.contaPai);
				}
			}, function errorCallback(response) {
				$scope.msg = response.data.mensagem;
			});
		}
		
		$scope.cancelarBaixa = function(c) {
			$http({
				method : 'POST',
				url : 'rest/contas/cancelarBaixa/',
				data : angular.toJson(c),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				$scope.listarContas();
				if (c.contaPai == null) {
					$scope.limparEdicao();	
				}else {
					$scope.editarConta(c.contaPai);
				}
			}, function errorCallback(response) {
				$scope.msg = response.data.mensagem;
			});
		}
		
		$scope.excluir = function(c) {
			if (confirm('Excluir conta (' + c.descricao + ')') == false) {
				return;
			}
			$http({
				method : 'DELETE',
				url : 'rest/contas/excluir/',
				data : angular.toJson(c),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				$scope.listarContas();
				if (c.contaPai == null) {
					$scope.limparEdicao();	
				}else {
					$scope.editarConta(c.contaPai);
				}
			}, function errorCallback(response) {
				$scope.msg = response.data.mensagem;
			});
		}
		
		
		$scope.excluirTodos = function() {
			if (confirm('Excluir todas as parcelas relacionadas e não pagas?') == false) {
				return;
			}
			$http({
				method : 'DELETE',
				url : 'rest/contas/excluirTodos/',
				data : angular.toJson($scope.conta),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				$scope.listarContas();
				if (c.contaPai == null) {
					$scope.limparEdicao();	
				}else {
					$scope.editarConta(c.contaPai);
				}
			}, function errorCallback(response) {
				$scope.msg = response.data.mensagem;
			});
		}

		$scope.listarContas = function() {
			$scope.limparEdicao();
			$http({
				method : 'GET',
				url : 'rest/contas/' + $scope.mes + '/' + $scope.ano
			}).then(function successCallback(response) {
				$scope.contas = response.data;
			}, function errorCallback(response) {
				$scope.contas = [];
				$scope.msg = response.data.mensagem;
			});
		}
		
		$scope.listarContasFilhas = function(idPai) {
			$http({
				method : 'GET',
				url : 'rest/contas/contasFilhas/' + idPai
			}).then(function successCallback(response) {
				$scope.contasFilhas = response.data;
			}, function errorCallback(response) {
				$scope.contasFilhas = [];
				$scope.msg = response.data.mensagem;
			});
		}
		

		function listaAnos() {
			$http({
				method : 'GET',
				url : 'rest/anos',
			}).then(function successCallback(response) {
				$scope.listaAnos = response.data.listaAnos;
				$scope.ano = (new Date()).getFullYear();
				$scope.mes = (new Date()).getMonth() + 1;
				tiposConta();
			}, function errorCallback(response) {
				$scope.listaAnos = [];
				$scope.msg = "Erro ao buscar Lista de Anos";
			});
		}

		function login() {
			$http({
				method : 'GET',
				url : 'rest/login',
			}).then(function successCallback(response) {
				listaAnos();
				$scope.userform.usuario = response.data.login;
				disableLogin();
				$scope.usuarioLogado = true;
			}, function errorCallback(response) {
				$scope.contas = [];
				$scope.msg = response.data.mensagem;
			});
		}

		function tiposConta() {
			$http({
				method : 'GET',
				url : 'rest/tiposConta',
			}).then(function successCallback(response) {
				$scope.tiposConta = response.data.tiposConta;
				$scope.listarContas();
			}, function errorCallback(response) {
				$scope.tiposConta = [];
				$scope.msg = "Erro ao buscar Tipos de Conta";
			});
		}

		$scope.validaLogin = function() {
			$http(
					{
						method : 'GET',
						url : 'rest/login/' + $scope.userform.usuario + '/'
								+ $scope.userform.senha,
					}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				listaAnos();
				disableLogin();
				$scope.userform.senha = '';
				$scope.usuarioLogado = true;
			}, function errorCallback(response) {
				$scope.contas = [];
				$scope.msg = response.data.mensagem;
				$scope.usuarioLogado = false;
			});
		}

		$scope.logout = function() {
			$http({
				method : 'GET',
				url : 'rest/login/logout'
			}).then(function successCallback(response) {
				$scope.contas = [];
				enableLogin();
				$scope.msg = response.data.mensagem;
				$scope.userform.senha = '';
				$scope.usuarioLogado = false;
			}, function errorCallback(response) {
				console.log(response.data.resultado);
				$scope.msg = response.data.mensagem;
			});
		}

		function disableLogin() {
			document.getElementById("usuario").disabled = true;
			document.getElementById("senha").disabled = true;
			document.getElementById("submit").disabled = true;
		}

		function enableLogin() {
			document.getElementById("usuario").disabled = false;
			document.getElementById("senha").disabled = false;
			document.getElementById("submit").disabled = false;
		}

		$scope.editarConta = function(c) {
			$scope.conta = JSON.parse(JSON.stringify(c));
			$scope.conta.data_mes = new Date(c.data_mes);
			document.getElementById("despesa").disabled = true;
			document.getElementById("receita").disabled = true;
			document.getElementById("qtdeParcelas").disabled = true;
			$scope.mostraEdicao = true;
			$scope.listarContasFilhas(c.id);
			location.href = "#salvar";
		}
		
		$scope.novaConta = function() {
			$scope.conta = {
					id : null,
					data_registro : null,
					descricao : "",
					valor : 0,
					dia_vencimento : null,
					numr_agrupador : 0,
					qtde_parcelas : 1,
					numr_parcela : 1,
					usuario : null,
					contaPai : null,
					valorParciais : 0,
					tipo : "D",
					data_mes : new Date(),
					flag_comum : "N"
				}
			document.getElementById("despesa").disabled = false;
			document.getElementById("receita").disabled = false;
			document.getElementById("qtdeParcelas").disabled = false;
			$scope.mostraEdicao = true;
			document.getElementById('descricao').focus();
		}
		
		$scope.novaContaFilha = function() {
			$scope.contaFilha = {
					id : null,
					data_registro : new Date(),
					descricao : "",
					valor : 0,
					dia_vencimento : null,
					numr_agrupador : 0,
					qtde_parcelas : 1,
					numr_parcela : 1,
					usuario : null,
					contaPai : null,
					valorParciais : 0,
					tipo : "D",
					data_mes : new Date(),
					flag_comum : "N"
				}
		}
		
		
		
		$scope.limparEdicao = function() {
			$scope.conta = {
					id : null,
					data_registro : null,
					descricao : "",
					valor : 0,
					dia_vencimento : null,
					numr_agrupador : 0,
					qtde_parcelas : 1,
					numr_parcela : 0,
					usuario : null,
					contaPai : null,
					valorParciais : 0,
					tipo : "D",
					data_mes : new Date(),
					flag_comum : "N"
				}
			$scope.contasFilhas = [];
			document.getElementById("despesa").disabled = false;
			document.getElementById("receita").disabled = false;
			document.getElementById("qtdeParcelas").disabled = false;
		}
		
		$scope.cssLinhaTabela = function(c) {
			css = "cursor: pointer;";
			
			if (c.tipo == 'D') {
				if (c.status == "B") {
					css = css + "color: #DCBCB9;";
				}	else{
					if (c.valorParciais > 0) {
						css = css + "color: #A94442;";	
					}else {
						css = css + "color: red;";	
					}
				}
			}else {
				
				if (c.status == "B") {
					css = css + "color: #C2D8C2;";
				}	else{
					if (c.valorParciais > 0) {
						css = css + "color: ##3D803E;";	
					}else {
						css = css + "color: green;";	
					}
				}
			}
			
			return css;
		}
		
	});
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body ng-app="myapp" ng-controller="myappcontroller">
	<div class="container-fluid">
	 <div class="row">
    	<div class="col-md-2">
	    	<form>
				<div class="form-group">
					<label for="usuario">Usuário:</label> <input type="text" class="form-control input-sm" id="usuario" ng-model="userform.usuario">
				</div>
				<div class="form-group">
					<label for="senha">Senha:</label> <input type="password" class="form-control input-sm" id="senha" ng-model="userform.senha">
				</div>
				
				<button id="submit" type="submit" class="btn btn-default btn-sm" ng-click="validaLogin()">Entrar</button>
				<button id="sair" type="submit" class="btn btn-default btn-sm" ng-click="logout()">Sair</button>
				
				<div class="form-group">
					<h4 id="msg">{{msg}}</h4>
				</div>
				
			</form>	
    	</div>
    	<div class="col-md-10">
	    	<div ng-hide="usuarioLogado == false">
	    	
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" href="#"><select id="ano" ng-options="ano for ano in listaAnos" ng-model="ano"></select></a>
							</div>
							<ul class="nav navbar-nav">
								<li><a ng-click="mes = 1; listarContas();" href="#">Jan</a></li>
								<li><a ng-click="mes = 2; listarContas();" href="#">Fev</a></li>
								<li><a ng-click="mes = 3; listarContas();" href="#">Mar</a></li>
								<li><a ng-click="mes = 4; listarContas();" href="#">Abr</a></li>
								<li><a ng-click="mes = 5; listarContas();" href="#">Mai</a></li>
								<li><a ng-click="mes = 6; listarContas();" href="#">Jun</a></li>
								<li><a ng-click="mes = 7; listarContas();" href="#">Jul</a></li>
								<li><a ng-click="mes = 8; listarContas();" href="#">Ago</a></li>
								<li><a ng-click="mes = 9; listarContas();" href="#">Set</a></li>
								<li><a ng-click="mes = 10; listarContas();" href="#">Out</a></li>
								<li><a ng-click="mes = 11; listarContas();" href="#">Nov</a></li>
								<li><a ng-click="mes = 12; listarContas();" href="#">Dez</a></li>
							</ul>
						</div>
					</nav>
					<div class="table-responsive">
						<table id="tabelaContas" class="table table-hover table-striped table-bordered table-condensed">
							<thead>
								<tr>
									<th width="50"></th>
									<th width="5"></th>
									<th width="5"></th>
									<th>Descrição</th>
									<th>Valor</th>
									<th>Parciais</th>
									<th>Vcto</th>
									<th>Parcela</th>
									<th>Data Registro</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="c in contas">
									<td><a ng-click="excluir(c)" href="#"> <span class="glyphicon glyphicon-trash"></span></a>
									<a ng-click="baixar(c)" ng-if="c.status=='A'" href="#" title="Baixar Conta"><span class="glyphicon glyphicon-folder-open"></span></a>
									<a ng-click="cancelarBaixa(c)" ng-if="c.status=='B'" href="#" title="Cancelar Baixa"><span class="glyphicon glyphicon-folder-close"></span></a></td>
									<td style="background-color: {{c.tipo== 'D'? 'red !important':'green'}}"></td>
									<td style="background-color: {{c.flag_comum== 'S'? 'yellow': 'inherit'}}"></td>
									<td style={{cssLinhaTabela(c)}} ng-click="editarConta(c)">{{ c.descricao }}</td>
									<td style={{cssLinhaTabela(c)}} ng-click="editarConta(c)">{{ c.valor | currency:"":2 }}</td>
									<td style={{cssLinhaTabela(c)}} ng-click="editarConta(c)">{{ c.valorParciais | currency:"":2 }}</td>
									<td style={{cssLinhaTabela(c)}} ng-click="editarConta(c)">{{ c.dia_vencimento }}</td>
									<td style={{cssLinhaTabela(c)}} ng-click="editarConta(c)">{{ c.numr_parcela }} - {{ c.qtde_parcelas }}</td>
									<td style={{cssLinhaTabela(c)}} ng-click="editarConta(c)">{{ c.data_registro | date:'dd/MM/yyyy HH:mm:ss' }}</td>
								</tr>
							</tbody>
							</table>
						</div>
		
					<button id="novaConta" ng-click="novaConta();" type="submit" class="btn btn-default">Nova</button>
					<button id="fechar" ng-click="mostraEdicao = false" type="submit" class="btn btn-default">Fechar</button>
					
					<div id="editarConta" ng-hide="mostraEdicao == false">
						
							<form>
								<div class="panel panel-default">
									<div class="row">
									
										<div class="col-md-4">
												<div class="panel panel-default">
													<div class="row">
													<div class="col-md-12">
															<input id="despesa" type="radio" ng-model="conta.tipo" value="D"><label style="color: red;" for="despesa">Despesa</label> <input id="receita" type="radio" ng-model="conta.tipo" value="R"><label style="color: green;" for="receita">Receita</label>
															<input title="Conta Comun a todos os meses" type="checkbox" id="flagComun" ng-model="conta.flag_comum" size="30" ng-true-value="'S'" ng-false-value="'N'"><label  style="color: yellow; background-color: lightgray" for="flagComun">Conta Comun</label>
															</div>
													</div>
														<div class="row">
														<div class="col-md-12">
															<label for="descricao">Descrição</label><input type="text" id="descricao" ng-model="conta.descricao" size="30" class="form-control">
															 
															 </div>
														</div>
														<div class="row">
														<div class="col-md-12">
															<label for="valor">Valor</label><input type="text" id="valor" ng-model="conta.valor" size="10" money-mask class="form-control">
															</div>
														</div>
														<div class="row">
														<div class="col-md-12">
															<label for=Data>Data</label><input type="date" id="data" name="data" ng-model="conta.data_mes" class="form-control" />
															</div>
														</div>
														<div class="row">
														<div class="col-md-12">
															<label for="vencimento">Vencimento</label><input type="number" id="vencimento" ng-model="conta.dia_vencimento" class="form-control">
															</div>
														</div>
														<div class="row">
														<div class="col-md-12">
															<label for="qtdeParcelas">Parcelas</label><input type="number" id="qtdeParcelas" ng-model="conta.qtde_parcelas" class="form-control">
															</div>
														</div>
													
													<div class="row">
														<div class="col-md-12">
															<button id="salvar" ng-click="salvar();" type="submit" class="btn btn-default">Salvar</button>
															<button id="salvarTodos" ng-hide="conta.qtde_parcelas == 1 || conta.id == null" ng-click="salvarTodos();" type="submit" class="btn btn-default" title="Salva todas as parcelas relacionadas não baixadas iguais a essa!">Salvar Parcelas</button>
															<button id="excluirTodos" ng-hide="conta.qtde_parcelas == 1 || conta.id == null" ng-click="excluirTodos();" type="submit" class="btn btn-default" title="Exclui tdas as parcelas relacionadas não baixadas!">Excluir Parcelas</button>
														</div>
													</div>
												</div>
										
										</div>
										<div class="col-md-8">
										
												<div class="panel panel-default">
														<div class="row">
															<div class="col-md-4">
																<label for="descricaoFilha">Descrição</label><input type="text" id="descricaoFilha" ng-model="contaFilha.descricao" size="30" class="form-control">
															</div>
															<div class="col-md-2">
																<label for="valorFilha">Valor</label><input type="text" id="valorFilha" ng-model="contaFilha.valor" size="10" money-mask class="form-control">
															</div>
															<div class="col-md-2">
																<label for=dataFilha>Data</label><input type="date" id="dataFilha" name="data" ng-model="contaFilha.data_registro" class="form-control" />
															</div>
															<div class="col-md-2">
																<label> </label><button id="salvar" ng-click="salvarFilha();" type="submit" class="btn btn-default">Salvar</button>
															</div>
														</div> 
														<div class="row">
															<div class="col-md-12">
																<div class="table-responsive" ng-hide="contasFilhas.length <= 0">
																	<table id="tabelaParciais" class="table table-hover table-striped table-bordered table-condensed">
																		<thead>
																			<tr>
																				<th width="50"></th>
																				<th>Descrição</th>
																				<th>Valor</th>
																				<th>Parciais</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr ng-repeat="c in contasFilhas">
																				<td><a ng-click="excluir(c)" href="#"> <span class="glyphicon glyphicon-trash"></span></a>
																				<a ng-click="baixar(c)" ng-if="c.status=='A'" href="#" title="Baixar Conta"><span class="glyphicon glyphicon-folder-open"></span></a>
																				<a ng-click="cancelarBaixa(c)" ng-if="c.status=='B'" href="#" title="Cancelar Baixa"><span class="glyphicon glyphicon-folder-close"></span></a></td>
																				<td style={{cssLinhaTabela(c)}}>{{ c.descricao }}</td>
																				<td style={{cssLinhaTabela(c)}}>{{ c.valor | currency:"":2 }}</td>
																				<td style={{cssLinhaTabela(c)}}>{{ c.data_registro | date:'dd/MM/yyyy HH:mm:ss' }}</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
														</div>
														
													</div>
												</div>
										  
											</div>
									
										</div>
								
									</div>
								<hr>
							</form>
					</div>
				</div>
	    	</div>
    	</div>
	</div>
</body>
</html>