<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Minhas Contas</title>
<script type="text/javascript" src="./resources/js/angular.min.js"></script>
<script type="text/javascript" src="./resources/js/angular-locale_pt-br.js"></script>
<script type="text/javascript" src="./resources/js/rw-money-mask.js"></script>

<script type="text/javascript">
	var app = angular.module('myapp', [ 'rw.moneymask' ]);

	app.controller('myappcontroller', function($scope, $http) {

		$scope.listaAnos = []
		$scope.ano = 0
		$scope.mes = 0
		$scope.usuarioLogado = false
		$scope.tiposConta = []
		$scope.conta = {
			id : "",
			data_registro : null,
			descricao : "",
			valor : 0,
			dia_vencimento : 0,
			numr_agrupador : 0,
			qtde_parcelas : 0,
			numr_parcela : 0,
			usuario : null,
			contaPai : null,
			tipo : "",
			data_mes : new Date(),
			flag_comum : "N"
		}
		$scope.msg = ""
		$scope.contas = []
		$scope.userform = {
			usuario : "",
			senha : ""
		};

		$scope.ano = (new Date()).getFullYear();
		$scope.mes = (new Date()).getMonth() + 1;
		$scope.conta.tipo = "D";
		login();

		$scope.salvar = function() {
			$http({
				method : 'POST',
				url : 'rest/contas/salvar/',
				data : angular.toJson($scope.conta),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				$scope.listarContas();
				limpaFormulario();
			}, function errorCallback(response) {
				$scope.msg = response.data.mensagem;
			});
		}

		$scope.listarContas = function() {
			$http({
				method : 'GET',
				url : 'rest/contas/' + $scope.mes + '/' + $scope.ano
			}).then(function successCallback(response) {
				$scope.contas = response.data;
			}, function errorCallback(response) {
				$scope.contas = [];
				$scope.msg = response.data.mensagem;
			});
		}

		function listaAnos() {
			$http({
				method : 'GET',
				url : 'rest/anos',
			}).then(function successCallback(response) {
				$scope.listaAnos = response.data.listaAnos;
			}, function errorCallback(response) {
				$scope.listaAnos = [];
				$scope.msg = "Erro ao buscar Lista de Anos";
			});
		}

		function login() {
			$http({
				method : 'GET',
				url : 'rest/login',
			}).then(function successCallback(response) {
				$scope.listarContas();
				$scope.userform.usuario = response.data.login;
				disableLogin();
				$scope.usuarioLogado = true;
				listaAnos();
				tiposConta();
			}, function errorCallback(response) {
				$scope.contas = [];
				$scope.msg = response.data.mensagem;
			});
		}

		function tiposConta() {
			$http({
				method : 'GET',
				url : 'rest/tiposConta',
			}).then(function successCallback(response) {
				$scope.tiposConta = response.data.tiposConta;
			}, function errorCallback(response) {
				$scope.tiposConta = [];
				$scope.msg = "Erro ao buscar Tipos de Conta";
			});
		}

		$scope.validaLogin = function() {
			$http(
					{
						method : 'GET',
						url : 'rest/login/' + $scope.userform.usuario + '/'
								+ $scope.userform.senha,
					}).then(function successCallback(response) {
				$scope.msg = response.data.mensagem;
				$scope.listarContas();
				disableLogin();
				$scope.userform.senha = '';
				$scope.usuarioLogado = true;
				listaAnos();
				tiposConta();
			}, function errorCallback(response) {
				$scope.contas = [];
				$scope.msg = response.data.mensagem;
				$scope.usuarioLogado = false;
			});
		}

		$scope.logout = function() {
			$http({
				method : 'GET',
				url : 'rest/login/logout'
			}).then(function successCallback(response) {
				$scope.contas = [];
				enableLogin();
				$scope.msg = response.data.mensagem;
				$scope.userform.senha = '';
				$scope.usuarioLogado = false;
			}, function errorCallback(response) {
				console.log(response.data.resultado);
				$scope.msg = response.data.mensagem;
			});
		}

		function disableLogin() {
			document.getElementById("usuario").disabled = true;
			document.getElementById("senha").disabled = true;
			document.getElementById("submit").disabled = true;
		}

		function enableLogin() {
			document.getElementById("usuario").disabled = false;
			document.getElementById("senha").disabled = false;
			document.getElementById("submit").disabled = false;
		}

		function limpaFormulario() {
			$scope.conta = {
				descricao : "",
				valor : 0,
				tipo : "",
				data_mes : new Date(),
				flag_comum : "N"
			}
			$scope.conta.tipo = $scope.tiposConta[0].valor;
		}
		
		$scope.editarConta = function(c) {
			$scope.conta = c;
			$scope.conta.data_mes = new Date(c.data_mes);
		}
		
	});
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="myappcontroller">
	<div class="container">
		{{msg}}
		<form class="form-inline" style="line-height: 0.7 !important">
			<div class="form-group">
				<label for="usuario">Usuário:</label> <input type="text" class="form-control input-sm" id="usuario" ng-model="userform.usuario">
			</div>
			<div class="form-group">
				<label for="senha">Senha:</label> <input type="password" class="form-control input-sm" id="senha" ng-model="userform.senha">
			</div>
			<button id="submit" type="submit" class="btn btn-default btn-sm" ng-click="validaLogin()">Entrar</button>
			<button id="sair" type="submit" class="btn btn-default btn-sm" ng-click="logout()">Sair</button>
		</form>
		<hr>
		<div ng-hide="usuarioLogado == false">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#"><select id="ano" ng-options="ano for ano in listaAnos" ng-model="ano"></select></a>
					</div>
					<ul class="nav navbar-nav">
						<li><a ng-click="mes = 1; listarContas();" href="#">Jan</a></li>
						<li><a ng-click="mes = 2; listarContas();" href="#">Fev</a></li>
						<li><a ng-click="mes = 3; listarContas();" href="#">Mar</a></li>
						<li><a ng-click="mes = 4; listarContas();" href="#">Abr</a></li>
						<li><a ng-click="mes = 5; listarContas();" href="#">Mai</a></li>
						<li><a ng-click="mes = 6; listarContas();" href="#">Jun</a></li>
						<li><a ng-click="mes = 7; listarContas();" href="#">Jul</a></li>
						<li><a ng-click="mes = 8; listarContas();" href="#">Ago</a></li>
						<li><a ng-click="mes = 9; listarContas();" href="#">Set</a></li>
						<li><a ng-click="mes = 10; listarContas();" href="#">Out</a></li>
						<li><a ng-click="mes = 11; listarContas();" href="#">Nov</a></li>
						<li><a ng-click="mes = 12; listarContas();" href="#">Dez</a></li>
					</ul>
				</div>
			</nav>

			<div class="table-responsive">
				<table class="table table-hover table-striped table-bordered table-condensed">
					<thead>
						<tr>
							<th width="5"></th>
							<th width="5"></th>
							<th>Descrição</th>
							<th>Valor</th>
							<th>Parciais</th>
							<th>Vcto</th>
							<th>Parcela</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in contas">
							<td style="background-color: {{c.flag_comum== 'S'? 'yellow': 'inherit'}}"></td>
							<td style="background-color: {{c.tipo== 'D'? 'red !important':'green'}}"></td>
							<td style="cursor: pointer; color: {{c.tipo== 'D'? 'red !important':'green'}}" ng-click="editarConta(c)">{{ c.descricao }}</td>
							<td style="cursor: pointer; color: {{c.tipo== 'D'? 'red !important':'green'}}" ng-click="editarConta(c)">{{ c.valor | currency:"":2 }}</td>
							<td style="cursor: pointer; color: {{c.tipo== 'D'? 'red !important':'green'}}" ng-click="editarConta(c)">{{ c.valorParciais | currency:"":2 }}</td>
							<td style="cursor: pointer; color: {{c.tipo== 'D'? 'red !important':'green'}}" ng-click="editarConta(c)">{{ c.dia_vencimento }}</td>
							<td style="cursor: pointer; color: {{c.tipo== 'D'? 'red !important':'green'}}" ng-click="editarConta(c)">{{ c.numr_parcela }} - {{ c.qtde_parcelas }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
			<div id="editarConta">
				<div class="container">
					<form>
						<div class="form-group">
							<input id="despesa" type="radio" ng-model="conta.tipo" value="D"><label style="color: red;" for="despesa">Despesa</label> <input id="receita" type="radio" ng-model="conta.tipo" value="R"><label style="color: green;" for="receita">Receita</label>
						</div>
						<div class="form-group">
							<label for="descricao">Descrição</label><input type="text" id="descricao" ng-model="conta.descricao" size="30" class="form-control">
						</div>
						<div class="form-group">
							<label for="valor">Valor</label><input type="text" id="valor" ng-model="conta.valor" size="10" money-mask class="form-control">
						</div>
						<div class="form-group">
							<input title="Conta Comun a todos os meses" type="checkbox" id="flagComun" ng-model="conta.flag_comum" size="30" ng-true-value="'S'" ng-false-value="'N'"><label for="flagComun">Conta Comun</label>
						</div>
						<div class="form-group">
							<label for=Data>Data</label><input type="date" id="data" name="data" ng-model="conta.data_mes" class="form-control" />
						</div>

						<button ng-click="salvar();" type="submit" class="btn btn-default">Salvar</button>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>